<!DOCTYPE html>
{% extends 'profile_app/main.html' %}
{% block profile_block %}
<br>
<div class="container" style="margin-top: 30px">
    <div class="jumbotron" style="background: darkred; color: white;border-radius: 50px">
     {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
      <h2 style="font-family: 'Times New Roman'; font-size: 40px">Login</h2><br>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    </div>
  </div>
  </div>
</div>
{% endblock %}

