<!DOCTYPE html>
{% extends 'profile_app/main.html' %}
{% block profile_block %}
        <br>
<div style="height: 50px ;width: 75%;background: darkred; border-radius: 50px; color: white; margin-left:12.5%">
    <h2 style="font-family: 'Baskerville Old Face';margin-left: 20px;font-size: 40px">Welcome {{ profile_character }}</h2>
</div>
<br>
<div class="container" style="margin-top: 30px">
    <div class="jumbotron" style="background-color: darkred;border-radius: 50px; color: white" align="center">
    <h1 style="font-family: 'Times New Roman'">SignUp</h1>
        <br>
    <div   align="center" style="background: red;width: 50%; border-radius: 20px">
        <br>
        <form method="post">
        {{ form.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Signup">
        </form>
        <br>
    </div>
    </div>
    </div>
</div>
{% endblock %}