<!DOCTYPE html>
{% extends 'profile_app/main.html' %}
{% block profile_block %}
<div class="container" style="margin-top: 70px">
    <div class="card-deck">
        <div class="card">
            <img height="200px" src="/static/images/principal.jpg" class="card-img-top" alt="school_principal" usemap="#principal_map">
            <map name="principal_map">
                <area shape="rect" coords="0 0 350 200" alt="#college_info" href="/accounts/signup/principal/">
            </map>
            <div align="center" class="card-body" style="background: darkred">
                <a style="color: white;text-decoration: none;" href="/accounts/signup/principal/"><h5 class="card-title">Principal</h5></a>
            </div>
        </div>
        <div class="card">
            <img height="200px" src="/static/images/teacher.jpg" class="card-img-top" alt="school_teacher"usemap="#teacher_map">
            <map name="teacher_map">
                <area shape="rect" coords="0 0 350 200" alt="#college_info" href="/teacher/">
            </map>
            <div align="center" class="card-body"style="background: darkred">
                <a style="color: white;text-decoration: none;" href="/teacher/"><h5 class="card-title">Teacher</h5></a>
            </div>
        </div>
        <div  class="card">
            <img height="200px" src="/static/images/student.jpg" class="card-img-top" alt="school_student" usemap="#student_map">
            <map name="student_map">
                <area shape="rect" coords="0 0 350 200" alt="#college_info" href="/student/">
            </map>
            <div align="center" class="card-body"style="background: darkred">
                <a style="color: white;text-decoration: none;" href="/student/"><h5 class="card-title">Student</h5></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
