<!DOCTYPE html>
{% extends 'SMP_home/base.html' %}
{% block school_block %}
<div style="margin-top: 40px">
        <h2 align="center" style="font-size: 40px; color: darkred;font-family: 'Times New Roman' ">About Us</h2>
        <div class="container" style="margin-top: 50px">
            <p style="font-size: 17px" align="justify">
                INGOLE EDUCATIONAL SOCIETY is formed on 30th August 1995 with the objective to establish new vistas in the fields of education and all round development of individuals. The main thrust is on imparting quality education at an affordable cost to all the needy from all strata’s of our society, with non-profit motive. The President, Secretary and the Trustees of the society are committed intellectuals who are very eminent public figures in their own right. Besides that we are fortunate to have an advisory panel of reputed educationists comprising of Pro- vice Chancellors, Head of institutions, Thinkers and Philosophers, to steer the path of Narayana Educational Society, who through their frequent interactions enrich and embolden our resolute to serve our people.<br><br>
                INGOLE EDUCATIONAL SOCIETY is formed with an objective to establish new vistas in the area of education and all round development of an individual. The ultimate quality in service is our motto and our aim is to achieve new standards in education, welfare and development of society. The various activities of the society shall be an endeavor to translate the above into meaningful programs and projects. The Narayana Educational Society (N.E.S) is a charitable institution registered under the Society’s Registration Act 1860 engaged in educational social, developmental and charitable activities as embodied in the aims and objectives of the society. NES helps students eliminate boundaries, collaborate in new ways, establish their trust and continuously seek improvement.
            </p>
        </div>
</div>

{% endblock %}