<!DOCTYPE html>
{% extends 'SMP_home/base.html' %}
{% block school_block %}
<div style="margin-top: 40px">
    <h2 align="center" style="font-size: 40px; font-family: 'Times New Roman';color: darkred ">Advisory Panel</h2><br>
    <div class="container" style="margin-top: 10px">
        <h4>Advisory Panel</h4><br>
    </div>
    <div style="background: lightsalmon; width: 600px;margin-left: 200px"  >
        <h5 style="font-family: Arial" align="center">Dr. Ved Prakash Mishra <br>
            Vice Chancellor,"<br>
            Datta Meghe College of Medical Science
        </h5>
    </div>
    <div style="background: lightcoral; width: 600px;margin-left: 200px" >
        <h5 style="font-family: Arial" align="center">
            Mr. Mehroo Major<br>
            Ex – Chairman<br>
            Department of Foreign Language,<br>
            Nagpur University
        </h5>
    </div>
    <div style="background: lightsalmon; width: 600px;margin-left: 200px"  >
        <h5 style="font-family: Arial" align="center">Dr. Ved Prakash Mishra <br>
            Vice Chancellor,"<br>
            Datta Meghe College of Medical Science
        </h5>
    </div>
    <div style="background: lightcoral; width: 600px;margin-left: 200px" >
        <h5 style="font-family: Arial" align="center">
            Mr. Mehroo Major<br>
            Ex – Chairman<br>
            Department of Foreign Language,<br>
            Nagpur University
        </h5>
    </div>
    <div style="background: lightsalmon; width: 600px;margin-left: 200px"  >
        <h5 style="font-family: Arial" align="center">Dr. Ved Prakash Mishra <br>
            Vice Chancellor,"<br>
            Datta Meghe College of Medical Science
        </h5>
    </div>
    <div style="background: lightcoral; width: 600px;margin-left: 200px" >
        <h5 style="font-family: Arial" align="center">
            Mr. Mehroo Major<br>
            Ex – Chairman<br>
            Department of Foreign Language,<br>
            Nagpur University
        </h5>
    </div>


</div>

{% endblock %}