<!DOCTYPE html>
{% extends 'SMP_home/base.html' %}
{% block school_block %}

<div style="margin-top: 50px">
        <h2 align="center" style="font-size: 40px; font-family: 'Times New Roman' ">WELCOME TO ST. JHON EDUCATIONAL SOCIETY</h2>
        <div class="container" style="margin-top: 50px">
            <p style="font-size: 17px" align="justify">
            The St. Jhon Educational Society (J.E.S.), a charitable institution registered
            under the Societies Registration Act 1860, is engaged in educational, social,
            developmental and charitable activities as embodied in the aims and objectives
            of the Society. Our endeavor is furthering quality education through a chain
            of schools and other educational facilities. J.E.S. was formed with the
            objective to establish new vistas in the areas of education and focuses on
            the all round development of an individual. “In the Forefront of Nation Building”
            is our mission and our aim is to achieve new Horizons in education.Through
            meaningful programs and projects,  J.E.S translates the above aim into a reality.
            </p>
        </div>
</div>

{% endblock %}