<!DOCTYPE html>
{% extends 'SMP_home/base.html' %}
{% block school_block %}
    {% load static %}

<div style="margin-top: 30px">
        <div class="container" style="margin-top: 50px">
            <h2 align="center" style="font-family: 'Times New Roman' ; color: darkred">
                THE PILLARS
            </h2><br><br>
            <h4 align="left" style="color: black ">THE PILLARS</h4>
            <br>
        </div>
        <div class="container">
            <img height="200px" width="150px" src="{% static 'images/profile_photo.jpg' %}" style="border-radius: 30%">
            <h6 align="justify" style="font-style: italic">Er. Hrishikesh Suresh Ingole<br>
                Chairman<br>
                Ingole Group of Institutions
            </h6>
            <h6 style="font-family: 'Times New Roman'">
                “Education is to endow young intellect with tools to ascend high and think beyond zenith.”<br><br>

                Education has a great social importance especially in the modern, complex industrialized society. It is the function of education to see that unfounded<br>
                beliefs, illogical prejudices and unreasoned loyalties are removed from the individual’s mind. Its emphasis is to foster in the students qualities like <br>
                integrity, honesty, trust, creativity, compassion and to cultivate a scientific temper within the bonds of humanism.<br><br>

                Education is indispensable for every individual. Education provides base to every country for prospering and vying with challenges that lie ahead in the<br>
                fast growing globalised economy. Education enables a man to understand his talents and his responsibilities to strive for his personal growth and to make <br>
                him a valuable citizen.<br><br>

                We value broad thinking, creativity and innovations. We intend not just to impart knowledge to the students, but also, to instill in them wisdom, empathy<br>
                and a humanitarian spirit.<br><br>

                I plea to all the students to be inquisitive in receiving new thoughts from environment, nature, teacher, parents, preacher and by meditation / <br>
                contemplation to become a valuable contributor to society.<br><br>

                To become a successful person, we must understand that there is no substitute to hard work. Hard work, honesty, devotion, dedication, sacrifice and<br>
                innovative ideas are the essential requisite to achieve success.<br><br>

                We ensure you that our commitment, attention, quality teaching and able guidance will transform students into highly talented individuals with<br>
                allegiance, unity and nationalism.
            </h6><br>
            <img height="200px" width="150px" src="{% static 'images/profile_photo.jpg' %}" style="border-radius: 30%">
            <h6 align="justify" style="font-style: italic">Er. Hrishikesh Suresh Ingole<br>
                Chairman<br>
                Ingole Group of Institutions
            </h6>
            <h6 style="font-family: 'Times New Roman'">
                “Education is to endow young intellect with tools to ascend high and think beyond zenith.”<br><br>

                Education has a great social importance especially in the modern, complex industrialized society. It is the function of education to see that unfounded<br>
                beliefs, illogical prejudices and unreasoned loyalties are removed from the individual’s mind. Its emphasis is to foster in the students qualities like <br>
                integrity, honesty, trust, creativity, compassion and to cultivate a scientific temper within the bonds of humanism.<br><br>

                Education is indispensable for every individual. Education provides base to every country for prospering and vying with challenges that lie ahead in the<br>
                fast growing globalised economy. Education enables a man to understand his talents and his responsibilities to strive for his personal growth and to make <br>
                him a valuable citizen.<br><br>

                We value broad thinking, creativity and innovations. We intend not just to impart knowledge to the students, but also, to instill in them wisdom, empathy<br>
                and a humanitarian spirit.<br><br>

                I plea to all the students to be inquisitive in receiving new thoughts from environment, nature, teacher, parents, preacher and by meditation / <br>
                contemplation to become a valuable contributor to society.<br><br>

                To become a successful person, we must understand that there is no substitute to hard work. Hard work, honesty, devotion, dedication, sacrifice and<br>
                innovative ideas are the essential requisite to achieve success.<br><br>

                We ensure you that our commitment, attention, quality teaching and able guidance will transform students into highly talented individuals with<br>
                allegiance, unity and nationalism.
            </h6><br>
            <img height="200px" width="150px" src="{% static 'images/profile_photo.jpg' %}" style="border-radius: 30%">
            <h6 align="justify" style="font-style: italic">Er. Hrishikesh Suresh Ingole<br>
                Chairman<br>
                Ingole Group of Institutions
            </h6>
            <h6 style="font-family: 'Times New Roman'">
                “Education is to endow young intellect with tools to ascend high and think beyond zenith.”<br><br>

                Education has a great social importance especially in the modern, complex industrialized society. It is the function of education to see that unfounded<br>
                beliefs, illogical prejudices and unreasoned loyalties are removed from the individual’s mind. Its emphasis is to foster in the students qualities like <br>
                integrity, honesty, trust, creativity, compassion and to cultivate a scientific temper within the bonds of humanism.<br><br>

                Education is indispensable for every individual. Education provides base to every country for prospering and vying with challenges that lie ahead in the<br>
                fast growing globalised economy. Education enables a man to understand his talents and his responsibilities to strive for his personal growth and to make <br>
                him a valuable citizen.<br><br>

                We value broad thinking, creativity and innovations. We intend not just to impart knowledge to the students, but also, to instill in them wisdom, empathy<br>
                and a humanitarian spirit.<br><br>

                I plea to all the students to be inquisitive in receiving new thoughts from environment, nature, teacher, parents, preacher and by meditation / <br>
                contemplation to become a valuable contributor to society.<br><br>

                To become a successful person, we must understand that there is no substitute to hard work. Hard work, honesty, devotion, dedication, sacrifice and<br>
                innovative ideas are the essential requisite to achieve success.<br><br>

                We ensure you that our commitment, attention, quality teaching and able guidance will transform students into highly talented individuals with<br>
                allegiance, unity and nationalism.
            </h6><br>
            <img height="200px" width="150px" src="{% static 'images/profile_photo.jpg' %}" style="border-radius: 30%">
            <h6 align="justify" style="font-style: italic">Er. Hrishikesh Suresh Ingole<br>
                Chairman<br>
                Ingole Group of Institutions
            </h6>
            <h6 style="font-family: 'Times New Roman'">
                “Education is to endow young intellect with tools to ascend high and think beyond zenith.”<br><br>

                Education has a great social importance especially in the modern, complex industrialized society. It is the function of education to see that unfounded<br>
                beliefs, illogical prejudices and unreasoned loyalties are removed from the individual’s mind. Its emphasis is to foster in the students qualities like <br>
                integrity, honesty, trust, creativity, compassion and to cultivate a scientific temper within the bonds of humanism.<br><br>

                Education is indispensable for every individual. Education provides base to every country for prospering and vying with challenges that lie ahead in the<br>
                fast growing globalised economy. Education enables a man to understand his talents and his responsibilities to strive for his personal growth and to make <br>
                him a valuable citizen.<br><br>

                We value broad thinking, creativity and innovations. We intend not just to impart knowledge to the students, but also, to instill in them wisdom, empathy<br>
                and a humanitarian spirit.<br><br>

                I plea to all the students to be inquisitive in receiving new thoughts from environment, nature, teacher, parents, preacher and by meditation / <br>
                contemplation to become a valuable contributor to society.<br><br>

                To become a successful person, we must understand that there is no substitute to hard work. Hard work, honesty, devotion, dedication, sacrifice and<br>
                innovative ideas are the essential requisite to achieve success.<br><br>

                We ensure you that our commitment, attention, quality teaching and able guidance will transform students into highly talented individuals with<br>
                allegiance, unity and nationalism.
            </h6><br>

        </div>
</div>

{% endblock %}