<!DOCTYPE html>
{% extends 'SMP_home/base.html' %}
{% block school_block %}
    <div class="container">
    <div><h2 align="center" style="color: darkred ; font-family: 'Times New Roman'">Our Institutions</h2></div>
    <br>
        <h4>Our Institutions</h4>
    <div align="center" style="background: lightsalmon">
        Narayana Vidyalayam (CBSE)<br>
        Chinch Bhuvan, Wardha Road,<br>
        NAGPUR – 441108.
    </div>
    <div align="center" style="background: lightcoral">
        Narayana Vidyalayam (CBSE)<br>
        Ghuggus Road, Padoli,<br>
        CHANDRAPUR - 442406.
    </div>
    <div align="center" style="background: lightsalmon">
        Narayana Vidyalayam (Pre- Primary) <br>
        Pioneer Residency Park, Somalwada, <br>
        Wardha Road, NAGPUR - 440025

    </div>
    <div align="center" style="background: lightcoral">
        Narayana Vidyalayam (CBSE)<br>
        Nimbhora Khurd, Behind MIDC Police Chowkey,<br>
        Old Bypass, AMRAVATI - 444607.
    </div>
    <div align="center" style="background: lightsalmon">
        Narayana Vidyalayam (CBSE)<br>
        Near Old Octroi Naka, Koradi Road, NAGPUR - 441111.
    </div>
    </div>
{% endblock %}