<!DOCTYPE html>
{% extends 'selected/student_pages/student_base.html' %}
{% block student_block %}
    <div class="jumbotron float-left" style="width: 910px; margin-right: 20px">
        <h1>the middle text goes here</h1>
    </div>
    <div class="jumbotron float-right " style="background: darkred; border-radius: 20px;font-family: 'Times New Roman'">
        <div align="center" style="width: 210px">
            <h3 style="color: white">Select Activity : </h3>
            <a class="btn btn-primary" style="border-radius: 20px; margin-bottom: 10px;border-color: darkred; background: white; color: darkred" href="#">Add SOMTHING</a>
            <a class="btn btn-primary" style="border-radius: 20px; border-color: darkred; background: white; color: darkred" href="#">Add SOMTHING</a>
        </div>
    </div>
{% endblock %}